<div class="border border-dark p-2">
  <h1 class="text-center">Washington, DC</h1>
  <div class="row justify-content-around">
    <div class="col-4">
      <p class="mb-0 mt-3">Humidity: {{weatherData?.humidity}}</p>
      <p class="my-0">Temperature (Average): {{weatherData?.temp}}</p>
      <p class="my-0">Temperature (High): {{weatherData?.temp_max}}</p>
      <p class="my-0">Temperature (Low): {{weatherData?.temp_min}}</p>
      <p class="my-0">Status: {{weatherData?.status}}</p>
    </div>
    <div class="col-4">
      <img src="https://images.pexels.com/photos/2446915/pexels-photo-2446915.jpeg" class="w-100" alt="Washington">
    </div>
  </div>
</div>
