<div class="border border-dark p-2">
  <h1 class="text-center">Dallas, Texas</h1>
  <div class="row justify-content-around">
    <div class="col-4">
      <p class="mb-0 mt-3">Humidity: {{weatherData?.humidity}}</p>
      <p class="my-0">Temperature (Average): {{weatherData?.temp}}</p>
      <p class="my-0">Temperature (High): {{weatherData?.temp_max}}</p>
      <p class="my-0">Temperature (Low): {{weatherData?.temp_min}}</p>
      <p class="my-0">Status: {{weatherData?.status}}</p>
    </div>
    <div class="col-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Dallas_skyline_daytime_2.jpg" class="w-100" alt="Dallas">
    </div>
  </div>
</div>
